<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <h1 class="title">
    {{ title }}
  </h1>

  <form class="form-inline set-build" (keyup.enter)="setNewBuild(newBuild)">
    <div class="form-group">
      <label for="bundleId">Bundle ID</label>
      <input type="text" class="form-control" 
             id="bundleId" aria-describedby="emailHelp" 
             placeholder="com.company.app"
             [value]=newBuild.bundleId (input)="newBuild.bundleId = $event.target.value">
    </div>
    <div class="form-group">
      <label for="buildNumber">Build Number</label>
      <input type="number" class="form-control" id="buildNumber" 
             placeholder="0"
            [value]=newBuild.buildNumber (input)="newBuild.buildNumber = $event.target.value">
    </div>
    <button type="button" class="btn" (click)="setNewBuild(newBuild)">Set</button>
  </form>
  <br/>

  <!-- <div class="error" *ngIf="errorMessage">
    Error: {{errorMessage}}
  </div>
  <br/> -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Bundle ID</th>
        <th scope="col">Build #</th>
        <th scope="col">
        </th>
      </tr>
    </thead>
    <tbody *ngIf="builds">
      <tr *ngFor="let build of builds">
        <td>
          {{build.bundleId}}
        </td>
        <td>
          <input type="number" class="form-control" placeholder="Build #" [value]=build.buildNumber (input)="build.buildNumber = $event.target.value" [readonly]="!build.edit" (keyup.enter)="setBuild(build)">
        </td>
        <td>
            <button class="btn" *ngIf="!build.edit"  (click)="bumpBuild(build.bundleId)">Bump &uarr;</button>
            <button class="btn" *ngIf="!build.edit" (click)="build.edit = true">Edit &#9998;</button>
            <button class="btn" *ngIf="build.edit" (click)="setBuild(build)">Set &#10003;</button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="builds.length < 1">
        <td>
        -- No Builds --
        </td>
    </tbody>
  </table>
</div>

